<div class="sidebar" role="aside" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <header class="header">
      {{#if @blog.logo}}
      <a href="/">
        <img id="blog" class="logo" src="{{@blog.logo}}">
      </a>
      {{else}}
      <h1 class="title"><a href="/">{{@blog.title}}</a></h1>
      {{/if}}

      <div class="separator"></div>

      <p class="description">
          <img src="http://malaw.ski/content/images/2016/04/ktoso-japan-round.png" style="width: 50%; text-align: center;"><br/>
          {{{@blog.description}}}
      </p>

      <div class="social-icons">
        <a href="https://github.com/ktoso" class="icon icon-github"></a>
        <a href="https://twitter.com/ktosopl" class="icon icon-twitter"></a>
        <a href="/rss" class="icon-rss"></a>
        <a href="mailto:konrad@malaw.ski" class="icon-mail"></a>
      </div>

      <div>
        
      </div>
    </header>
  </div>